* {
  box-sizing: border-box;
}
.bg-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}
.emojiContainer {
  margin: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
